html, body {
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
  display: block;
  background-color: var(--main-bg-color);
}

/* templates */
@import '../components/templates/Home/Home';

/* organisms */
@import '../components/UI/organisms/Header/Header';

/* atoms */
@import '../components/UI/atoms/Icon/Icon';


